.menuIcon {
    width: 24px;
    filter: invert(100%) sepia(1%) saturate(728%) hue-rotate(64deg) brightness(118%) contrast(100%);
}

.menuItem {
    color: white;
}

.menuItem:hover{
    color:#e6e37f;
    .menuIcon {
        filter: invert(89%) sepia(5%) saturate(3662%) hue-rotate(8deg) brightness(109%) contrast(80%);
    }
}

#menubar{
    max-width: 300px;
}

.versionInfo{
    font-size: x-small;
    font-weight: bold;

    #uiversion {
        font-weight: normal;
        font-family: 'Courier New', Courier, monospace;
    }

    #appversion {
        font-weight: normal;
        font-family: 'Courier New', Courier, monospace;
    }
}

.pageTitle {
    font-size: 3em;
    font-weight:500;
}

.pageDescription {
    margin-top: 1em;
    margin-bottom: 3em;
}

.sectionHeader{
    font-size: 1.5em;
    font-weight: 500;
}

.controllerDetailsLabel {
    font-weight: 600;
}

.circuitDetailsLabel{
    font-weight: 600;
}

.uuid{
    font-family: 'Courier New', Courier, monospace;
}

.editableDetails{
    .row:hover{
        background-color: #adb5bd2f;
    };

    img{
        width: 1.25em;
        height: 1.25em;
    }

    img.editableContent-cancel{
        filter: invert(17%) sepia(97%) saturate(6745%) hue-rotate(358deg) brightness(108%) contrast(111%);
    }

    img.editableContent-save{
        filter: invert(50%) sepia(63%) saturate(488%) hue-rotate(84deg) brightness(96%) contrast(87%);
    }
}

#controllerAddButton{
    color: black;
}

.colorName{
    font-weight: bold;
}

.colorHex{
    font-weight:lighter;
    font-size: smaller;
}

.colorPreview{
    border: thin solid #000000;
    height: 3em;
    width: 3em;
}

.certificateFileName{
    font-weight:lighter;
    font-size: smaller;
}

.activeMenuItem{
    color: #807d19;
    font-weight:bold;
    .menuIcon {
        filter: invert(51%) sepia(58%) saturate(4149%) hue-rotate(38deg) brightness(87%) contrast(80%);
    }
}

#managedControllerList{
    .card{
        max-width: 25em;
    }
}

#circuitListCards{
    .card{
        min-width: 25em;
        max-width: 25em;
    }
}

.outputPort{
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    margin: 3px;
    width: 130px;
    height: 130px;
}

.outputPortLabel{
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
}

.outputPortBody{
    display: flex;
    justify-content: center;
    align-items: center;

}

.availableCircuit{
    font-size: smaller;
    .card{
        background-color: #c0e7c3;
        text-align: center;
        height: 130px;
        max-width: 130px;
    }
}

.availableOutputPort{
    background-color: white;
}

.assignedOutputPort{
    background-color: #c0e7c3;
    .additionalDetail{
        text-align: center;
        font-size: smaller;
    }
}


#deleteCircuitAssignmentArea{
    min-height: 130px;
    line-height: 130px;
    min-width: 100%;
    background-color: lightgray;
    font-size:3em;
    border-width: 3px;
    border-radius: 10px;
    border-color: darkgray;
    color: darkgray;
    border-style:dotted;
    text-align: center;
}

@media screen and (max-width: 575px) {
    .applicationName {
        display: none !important;
    }
    .versionInfo {
        display: none !important;
    }
    .managedControllerList {
        margin-left: 0;
        margin-right: 0;
        max-width: 80% !important;
    }
}