.menuIcon {
    width: 24px;
    filter: invert(100%) sepia(1%) saturate(728%) hue-rotate(64deg) brightness(118%) contrast(100%);
}

.menuItem {
    color: white;
}

.menuItem:hover{
    color:#e6e37f;
    .menuIcon {
        filter: invert(89%) sepia(5%) saturate(3662%) hue-rotate(8deg) brightness(109%) contrast(80%);
    }
}

#menubar{
    max-width: 300px;
}

.versionInfo{
    font-size: x-small;
    font-weight: bold;

    #uiversion {
        font-weight: normal;
        font-family: 'Courier New', Courier, monospace;
    }
}

.pageTitle {
    font-size: 3em;
    font-weight:500;
}

.pageDescription {
    margin-top: 1em;
    margin-bottom: 3em;
}

.sectionHeader{
    font-size: 1.5em;
    font-weight: 500;
}

.controllerDetailsLabel {
    font-weight: 600;
}

.circuitDetailsLabel{
    font-weight: 600;
}

.clientDetailsLabel{
    font-weight: 600;
}

.uuid{
    font-family: 'Courier New', Courier, monospace;
}

.macAddress{
    font-family: 'Courier New', Courier, monospace;
}

.editableDetails{
    .row:hover{
        background-color: #adb5bd2f;
    };

    img{
        width: 1.25em;
        height: 1.25em;
    }

    img.editableContent-cancel{
        filter: invert(17%) sepia(97%) saturate(6745%) hue-rotate(358deg) brightness(108%) contrast(111%);
    }

    img.editableContent-save{
        filter: invert(50%) sepia(63%) saturate(488%) hue-rotate(84deg) brightness(96%) contrast(87%);
    }
}

#controllerAddButton{
    color: black;
}


.colorHex{
    font-weight:lighter;
    font-size: smaller;
}

.colorPreview{
    border: thin solid #000000;
    height: 3em;
    width: 3em;
}

.certificateFileName{
    font-weight:lighter;
    font-size: smaller;
}

.activeMenuItem{
    color: #807d19;
    font-weight:bold;
    .menuIcon {
        filter: invert(51%) sepia(58%) saturate(4149%) hue-rotate(38deg) brightness(87%) contrast(80%);
    }
}

#managedControllerList{
    .card{
        max-width: 25em;
    }
}

#circuitListCards{
    .card{
        min-width: 25em;
        max-width: 25em;
    }
}

#managedClientCards{
    .card{
        max-width: 25em;
    }
}

.outputPort{
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    margin: 3px;
    width: 130px;
    height: 130px;
}

.outputPortLabel{
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
}

.outputPortBody{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputPort{
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    margin: 3px;
    width: 130px;
    height: 130px;
}

.inputPortLabel{
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
}

.inputPortBody{
    display: flex;
    justify-content: center;
    align-items: center;
}

.availableCircuit{
    font-size: smaller;
    .card{
        background-color: #c0e7c3;
        text-align: center;
        min-height: 130px;
        max-width: 130px;
    }
}

.availableClient{
    font-size: smaller;
    .card{
        background-color: #ffc885;
        text-align: center;
        min-height: 130px;
        max-width: 130px;
    }
    .extendedClient{
        background-color: #ffefdb;
    }
}

.availableOutputPort{
    background-color: white;
}

.assignedOutputPort{
    background-color: #c0e7c3;
    .additionalDetail{
        text-align: center;
        font-size: smaller;
    }
}

.availableInputPort{
    background-color: white;
}

.assignedInputPort{
    background-color: #ffc885;
    .additionalDetail{
        text-align: center;
        font-size: smaller;
    }
    .extendedClient{
        background-color: #ffefdb;
    }
}

#deleteCircuitAssignmentArea{
    min-height: 130px;
    line-height: 130px;
    min-width: 100%;
    background-color: lightgray;
    font-size:3em;
    border-width: 3px;
    border-radius: 10px;
    border-color: darkgray;
    color: darkgray;
    border-style:dotted;
    text-align: center;
}

#deleteClientAssignmentArea{
    min-height: 130px;
    line-height: 130px;
    min-width: 100%;
    background-color: lightgray;
    font-size:3em;
    border-width: 3px;
    border-radius: 10px;
    border-color: darkgray;
    color: darkgray;
    border-style:dotted;
    text-align: center;
}

#clientPreviewImage{
    width: 80%;
    max-width: 400px;
    border-style:solid; 
    border-radius:3em;
    border-width: 1px;
    background-color:#FAF9F6;
}

.extendedClient{
    background-color: #ffefdb;
}

.actionDeleteButton{
    height: 2em;
    filter: brightness(0) saturate(100%) invert(32%) sepia(96%) saturate(7130%) hue-rotate(355deg) brightness(100%) contrast(119%);
}

.dropdown-menu.warning > li > a:hover {
    background-color: var(--bs-warning);
}

.dropdown-menu.warning > li > a:active {
    img{
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(152deg) brightness(103%) contrast(103%);
    }
}

#certificateDragDrop{
    height: 10em;
    background-color: var(--bs-secondary-bg);
    border-radius:1em;
}

#certificateDragDropText{
    color: var(--bs-tertiary-color);
    font-size: xx-large;
}

.btn-outline-success{
    img{
        filter: invert(39%) sepia(99%) saturate(356%) hue-rotate(100deg) brightness(87%) contrast(90%);
    }
}

.btn-outline-success:hover{
    img{
        filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(7500%) hue-rotate(312deg) brightness(118%) contrast(119%);
    }
}

@media print {
    .card, .availableOutputPort, .assignedOutputPort, .availableCircuit, .availableInputPort, .assignedInputPort {
        break-inside: avoid;
    }

    .btn, .editableContent, .pageDescription, .sectionHeader, .toast-container {
        display: none !important;
    }
}

@media screen and (max-width: 575px) {
    .applicationName {
        display: none !important;
    }
    .versionInfo {
        display: none !important;
    }
    .managedControllerList {
        margin-left: 0;
        margin-right: 0;
        max-width: 80% !important;
    }
}